/* line 1, ../sass/style.scss */
body {
  background-color: #202125;
  color: #FFF;
}

/* line 6, ../sass/style.scss */
.title-items {
  color: #94C02F;
}

/* line 11, ../sass/style.scss */
#items .item {
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  list-style: none;
  margin: 0 40px 40px 0;
  padding: 10px;
  width: 45%;
}
/* line 19, ../sass/style.scss */
#items .command {
  color: #777;
  display: block;
  font-size: 14px;
  padding: 5px 0 0 10px;
}
