/* line 1, ../sass/style.scss */
body {
  background-color: #202125;
  color: #FFF;
}

/* line 6, ../sass/style.scss */
.title-items {
  color: #94C02F;
}

/* line 11, ../sass/style.scss */
#items .item {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
/* line 16, ../sass/style.scss */
#items .command {
  color: #777;
  display: block;
  font-size: 14px;
  padding-left: 10px;
}
